body{
text-align:center;
font-family: 'Space Mono', monospace;
font-size: 100px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 800px;
    background-color: #C4FF00;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -400px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

a:link {
    color:#50E3C2;
    text-decoration: none;
}

a:visited {
    color:#50E3C2;
    text-decoration: none;
}

a:hover {
    color:orange;
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}