* {
  box-sizing: border-box;
    cursor: crosshair;
}



/* Create two equal columns that floats next to each other */
.column {
  margin-top: 5vh;
  float: left;
  width: 45%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


body{
	background-color: white;
	font-family: 'OfficeCodeProDRegular'; 
  font-weight: lighter; 
  font-style: normal; 
  box-sizing: border-box;
  width: 101vw;
  height: 101vh;
  margin-top: -10px;
  margin-left: -10px;
  -moz-box-shadow:    inset 0 0 100px #ffa5ca;
  -webkit-box-shadow: inset 0 0 100px #ffa5ca;
  box-shadow:         inset 0 0 100px #ffa5ca;
}

h2 {
  text-align: left;
  margin-left: 10vw;
  margin-top: 10vh;
  font-size: 36px;
  color: #ffa5ca;
}

h3 {
  float: left;
  width: 50%;
  color: #9082ff;
  opacity: 0.5;
  position: relative;
  font-size: 13px;
  margin-left: 10vw;
  margin-top: 7px;
}

a{
  font-size: 30px;
  margin-left: 10vw;
  margin-bottom: 3em;
  color:#9e91ff;
  text-decoration: none;
}

a:hover{
  color: white;
  background-color: #9e91ff;
}

.name {
  float: left;
  width: 50%;
  color: #ffa5ca;
  position: relative;
  font-size: 13px;
  margin-top: 15vh;
  margin-bottom: 17vh;
  margin-left: 10vw;
}
