#exercises
{
	float:left;
	width:30%;
}

#projects
{
	float:right;
	width:70%;
}
 
 body{
	background-color: #873bff;
	font-family: 'Open Sans', sans-serif;
 }
 h1 {
      font-weight: normal;
      font-size: 90px;
      font-family: 'Nixie One', cursive;
      color: #ffffff;
      text-align: right;
      padding : 20px 50px 20px 20px; ;
    }

 h2 {
font-family: 'Nixie One', cursive;
font-size: 36px;
color: #ffffff;
padding-left: 50px ;
 }

 h3{
font-family: 'Open Sans', sans-serif;
font-size: 17px;
color:#ffffff;
padding-left: 50px ;
 }

 a{
font-family: 'Open Sans', sans-serif;
font-size: 17px;
color:#b3f906;
padding-left: 50px ;
padding-bottom: 100px;
text-decoration: none;
 }

 a:hover{
 	text-decoration: line-through;
 }